body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #03383c, #3fa0a7);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vh;
  font-size: 15px;
}

h2{
    font-size: 40px !important;
    text-align: center !important;
    justify-content: center !important;
    font-family: "Poppins" !important;
    font-weight: bold !important;
    font-style: normal !important;
    line-height: 82px !important;

}

#login .container #login-row #login-column #login-box {
  margin: 0  auto;
  margin-top: 30px;
  max-width: 380px;
  min-height: 40vh;
  border-radius: 42px;
  align-items: center;
  background-color: rgb(243, 243, 243);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);

}

label {
    color: #000;
    font-family: "Poppins" !important;
    font-size: 15px !important;
    font-weight: bold !important;

}

.form-control{
  padding: 0.2em;
    border:  2px solid #005062;
    box-sizing: border-box;
    border-radius: 7px;
    background: #E1E1E1;
    display: block;
    height: 45px;
    padding-left: 10px;
}

.form-check-input{
    top: 2px !important;
}

.form-check-label{
    font-size: 10px !important;
}

.btn{
    background-color: #002730;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 53px;

}


.d-grid{
    margin-top: 20px;
    border-radius: 50px;
}

.btn-primary{
    background: linear-gradient(to left, #004912, #00d358);
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 4px;
    transition: all 0.3s ease;

}

.btn-primary:hover{
    letter-spacing: 1px;
    background: linear-gradient(to right, #004912, #00d358);
}

/* The alert message box */
.alert {
  position: absolute;
  left:50%;
  margin-left: -250px;
  padding: 15px;
  background-color: #f44336;
  color: white;
  width: 500px;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

}

.closebtn:hover {
  color: black;
}
.errorresp{
  margin-left: 15px;
}

footer{
  margin-top: 7.5vh;
  min-width: 40vh;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content{
  width: 60%;
  display: flex;
  justify-content: center;
}

.footer-content p{
  font-family: Poppins;
  color: #c0c0c0;
  font-size: 0.8rem;
}