<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/Sucesso.css}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <main class="container">

        <h2 class="titulo-h2">Estudante Cadastrado com Sucesso!</h2>

        <p class="titulo-p">Deseja cadastrar um novo estudante?</p>
        
        <div class="grid-8">

            <div >
                <a href="/" class="link camp_incluir_aux" id="id_incluir">Não</a>
            </div>
            <div >
              <a href="/Cadastrar" class="link camp_voltar_aux" id="id_voltar">Sim</a>
            </div>


    </main>

    <footer>
        <div class="footer-content">
            <p>Copyright &copy; 2021, SQUARD 06 (UNIFG - COO) - Todos os direitos reservados</p>
        </div>
    </footer>

</body>
</html>